<header>
  <div class="logo">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </div>
  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  <meta property="og:title" content="Dung-Han Lee's portfolio"/>
  <meta property="og:image" content="https://github.com/Dung-Han-Lee/dung-han-lee.github.io/blob/master/assets/img/thumbnail/preview.png"/>
  <meta property="og:description" content="Dung-Han Lee's portfolio"/>
  <meta property="og:url" content="https://dung-han-lee.github.io" />

</header>
